* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: 'lato', sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #0e660e;
}

body {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  display: block;
}

h2 {
  font-size: 36px;
  margin: 0;
}

@media screen and (max-width: 600px) {
  h2{
    font-size: 24px;
  }
}

dl {
  margin: 0;
  padding: 1em;
}

dd {
  margin: 0;
  font-size: 14px;
}

p {
  margin: 0;
  font-size: 18px;
}

strong {
  color: #aa2a53;
}

a {
  color: #aa2a53;
  text-decoration: underline;
  transition: .5s color ease-out;
}

a:hover,
a:active {
  color: #8e9e00;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

header {
  background-color: #eeefe5;
}

.photo {
  width: 30%;
  margin: 0;
  float: left;
}

.skills {
  width: 70%;
  float: right;
  padding-top: 40px;
  padding-right: 4%;
  padding-left: 6%;
}

@media screen and (max-width: 960px) {
  .skills {
    padding-bottom: 40px;
  }
}

.about {
  width: 100%;
}

main {
  width: 70%;
  float: right;
  padding-left: 6%;
  padding-top: 40px;
  padding-bottom: 80px;
  padding-right: 8%;
}

.portfolio {
  width: 100%;
  padding-top: 60px;
}

.project {
  position: relative;
  margin-top: 40px;
  width: 60%;
  background-color: #eeefe5;
}

.project:first-of-type{
  margin-top: 20px;
}

.project:hover .summary {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.project:hover .screen-link {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

.screen-link {
  display: block;
  position: relative;
  display: block;
  background-color: #000;
  transition: opacity .3s ease-out;
}

.screen {
  width: 100%;
}

.summary {
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  width: 100%;
  z-index: 100;
  transition: opacity .3s ease-out;
}

aside {
  float: left;
  width: 30%;
  padding-top: 40px;
  padding-bottom: 80px;
  padding-left: 6%;
}

footer {
  background-color: #eeefe5;
  padding-top: 80px;
  padding-bottom: 80px;
}

@media screen and (max-width: 960px) {
  footer {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.social {
  float: left;
  width: 30%;
  padding-left: 6%;
}

@media screen and (min-width: 601px) and (max-width: 960px) {
  .social {
    padding-bottom: 20px;
  }
}

.icon-link {
  display: inline-block;
  margin-right: 30px;
}

.icon-link > svg > path {
  transition: .5s fill ease-out;
}

.icon-link:hover > svg > path,
.icon-link:active > svg > path {
  fill: #8e9e00;
}

.email {
  float: right;
  width: 70%;
  padding-left: 6%;
  padding-right: 6%;
}

.clearfix:after {
  display: table;
  content: '';
  clear: both;
}

@media screen and (max-width: 960px) {
  .mobile-width {
    width: 100%;
    float: none;
  }

  main {
    padding-right: 6%;
  }

  .portfolio {
    padding-top: 40px;
  }

  .project {
    width: 100%;
    background-color: #fff;
  }

  aside {
    display: none;
  }

  .summary {
    padding: 0 0 .5em 0;
    position: static;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  }

  dd {
    font-size: 18px;
  }

  .project:first-of-type {
    margin-top: 10px;
  }

  .project:hover .screen-link {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  }
}

@media screen and (max-width: 600px) {
  p, li, a, dd {
    font-size: 14px;
  }

  .project:first-of-type {
    margin-top: 0;
  }

  .screen-link {
    margin-right: -7%;
    margin-left: -7%;
  }

  main {
    padding-bottom: 0;
  }
}
