* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: 'lato', sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #0e660e;
}

body {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  display: block;
}

h1 {
  font-size: 36px;
  margin: 0;
}

@media screen and (max-width: 960px) {
  h1{
    font-size: 24px;
  }
}

p {
  margin: 0;
  font-size: 18px;
}

@media screen and (max-width: 960px) {
  p, li, a {
    font-size: 14px;
  }
}



strong {
  color: #aa2a53;
}

a {
  color: #aa2a53;
  text-decoration: underline;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

header {
  background-color: #eeefe5;
}

picture {
  width: 30%;
  margin: 0;
  float: left;
}

.hello {
  width: 70%;
  float: right;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-right: 4%;
  padding-left: 6%;
}

.info {
  width: 100%;
}

aside {
  float: left;
  width: 30%;
  padding-top: 40px;
  padding-bottom: 80px;
  padding-left: 6%;
}

main {
  width: 70%;
  float: right;
  padding-left: 6%;
  padding-top: 40px;
  padding-bottom: 80px;
  padding-right: 8%;
}

@media screen and (max-width: 960px) {
  main {
    padding-bottom: 20px;
  }
}


footer {
  background-color: #eeefe5;
  padding-top: 80px;
  padding-bottom: 80px;
}

@media screen and (max-width: 960px) {
  footer {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.social {
  float: left;
  width: 30%;
  padding-left: 6%;
}


.icon {
  margin-right: 30px;
}

.email {
  float: right;
  width: 70%;
  padding-left: 6%;
  padding-right: 6%;
}



.clearfix::after {
  display: table;
  content: '';
  clear: both;
}

@media screen and (max-width: 960px) {
  .mobile-width {
    width: 100%;
    float: none;
  }
}
